/portal/config/settings.ini
/portal/config/roles.json
/portal/config/user-roles.json
/portal/html/js/ext-all.js
/portal/html/resources
/portal/lib/OLE*
/portal/lib/Spreadsheet
/portal/lib/Zend
/portal/lib/pChart
/shredder/config/settings.ini

