body {
    font: small sans-serif;
    color: black;
	margin: 0;
	padding: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:active {
    color: blue;
}

a:hover {
    color: #900;
}

code {
    background-color: #f9f9f9;
}

pre {
    padding: 1em;
    border: 1px dashed #2f6fab;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
}

#header {
    font-size: x-small;
    border-bottom: 2px solid #039;
}

#page {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 775px;
    clear:both;
}

.heading {
    font-size: x-large;
    color: #666;
}

.subhead {
    font-size: medium;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.screen {
    border: 1px solid #666;
}

.footer {
    border-top: 2px solid #039;
    margin-bottom: 10px;
    text-align: center;
}
