<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="placeholderConfig"
         class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="ignoreResourceNotFound" value="true" />
      <property name="locations">
      <list>
        <value>classpath:/ubmod.properties</value>
        <value>file:/etc/ubmod.conf</value>
        <value>file:/etc/ubmod-shredder.conf</value>
        <value>file:${user.home}/.ubmod-shredder</value>
      </list>
      </property>
  </bean>

  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://${db.host}:${db.port}/${db.name}"/>
    <property name="username" value="${db.user}"/>
    <property name="password" value="${db.password}"/>
  </bean>
  
  <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
    <property name="configLocation" value="classpath:/edu/buffalo/ccr/ubmod/tools/sqlmap/sqlmap-config.xml"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>
  
  <bean id="aggregator" class="edu.buffalo.ccr.ubmod.tools.DefaultAggregator">
    <property name="sqlMapClient" ref="sqlMapClient"/>
  </bean>
  
  <bean id="dataLoader" class="edu.buffalo.ccr.ubmod.tools.DataLoaderIbatisImpl">
    <property name="sqlMapClient" ref="sqlMapClient"/>
  </bean>
  
  <bean id="shredder" class="edu.buffalo.ccr.ubmod.tools.PBSShredder">
    <property name="sqlMapClient" ref="sqlMapClient"/>
    <property name="dataLoader" ref="dataLoader"/>
  </bean>
</beans>
