body {
    font: small sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;   
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.page {
    margin: 10px;
}

.footer {
    border-top: 1px solid #ccc;
}

.footer-text {
    padding: 10px;
    margin-left:  10px;
    font-size: x-small;
}

.menu, .news {
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #6699CC;
    color: #fff;
    padding: 1px;
    text-align: center;
    width: 200px;
    /* float: left; */
    margin-right: 15px; 
    margin-bottom: 15px; 
}

.menu-content, .news-content {
    padding-left: 3px;
    font-weight: normal;
    text-align: left;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.menu-content {
    background-color: #DEDEBD; 
}

#menu-list, #news-list {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

#menu-list li, #news-list li {
    padding-left: 15px;
    background-image: url(../images/bullet.gif);
    background-repeat: no-repeat;
    background-position: 0px .5em;
    font-size: small;
}

#news-list li {
    font-size: x-small;   
}

#menu-list li:hover {
    background-color: #CCCC99;    
}

#menu-list a {
    color: #003366;   
}

.menu-active {
    background-color: #CCCC99;
    font-weight: bold;   
}

#submenu li {
    padding-left: 0px;
    background-image: url(../images/dot.gif);
    background-repeat: no-repeat;
    background-position: 0px;
    font-size: x-small;
}

.content {
/*    margin-top: 40px; */
/*    margin-left: 190px; */
}

#toolbar {
    /* width: 100%; */
    /* background-color: #D0DEF0; */
    /* float: right; */
}

.dtable {
    border-collapse: collapse;
}

.dtable td {
    border: 1px solid #ccc;
    font-size: x-small;
    padding: 4px;
    padding-right: 20px;
}

.dtable th {
    border: 1px solid #ccc;
    font-size: x-small;
    padding: 4px;
}

.tab-content {
    width: 750px;
    padding: 4px;    
}

#stats-tabs {
    width: 750px;  
}

.labelHeading {
    /* background-color: #6699CC; */
    background-color: #DEDEBD;
    color: #003366;
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 5px;
}

#date-display {
    font-size: small;
    background-color: #ffc;    
}

.editLink {
	cursor: pointer;
	font-style: underline;
	color: blue;
	font-size: x-small;
}

.edit {
    font-size: x-small;    
}

.labelHeader {
    font-size: medium;
    font-weight: bold;
}

div#menux {
    float:left;
    width: 100%;
    padding-top:0px;
    background: white;
    border-bottom: 1px solid #ccc;
}

ul#nav,ul#nav li {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

ul#nav {
    margin-left: 100px;
    width:700px;
    white-space: nowrap;
}

ul#nav li {
    float:left;
    margin-right: 3px;
    text-align: center;
}

ul#nav a {
    float:left;
    width: 8em;
    padding: 5px 0;
    background: #039;
    text-decoration:none;
    color: #fff;
    font-size: x-small;
}

ul#nav a:hover {
    background: #69c;
    color: #FFF;
}

ul#nav li.activelink a,ul#nav li.activelink a:hover {
    background: #69c;
    color: #fff;
}

.chart-desc {
    text-align: center;
    font-style: italic;
    margin-bottom: 5px;
    width: 700px;  
}

.disk-usage {
    width: 100%;
 }
 
.disk-usage td {
    text-align: center;
    border: 0px solid #ccc;
    font-size: small;
    padding: 0px;
    padding-right: 0px;
    color: #039;
}
 
.disk-usage th {
    text-align: center;
    border: 0px solid #ccc;
    font-size: small;
    padding: 0px;
    color: #000;
}

