<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="placeholderConfig"
         class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="ignoreResourceNotFound" value="true" />
      <property name="locations">
      <list>
        <value>classpath:/ubmod.properties</value>
        <value>file:/etc/ubmod.conf</value>
        <value>file:/etc/ubmod-portal.conf</value>
        <value>file:${user.home}/.ubmod-portal</value>
      </list>
      </property>
  </bean>

  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://${db.host}:${db.port}/${db.name}"/>
    <property name="username" value="${db.user}"/>
    <property name="password" value="${db.password}"/>
    <property name="validationQuery" value="select 1" />
    <property name="testOnReturn" value="true"/>
    <property name="testOnBorrow" value="true" />
  </bean>
  
  <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
    <property name="configLocation" value="classpath:/edu/buffalo/ccr/ubmod/sqlmap/sqlmap-config.xml"/>
    <property name="dataSource" ref="dataSource"/>
  </bean>
  
  <bean id="userDao" class="edu.buffalo.ccr.ubmod.dao.UserDaoIbatisImpl">
    <property name="sqlMapClient" ref="sqlMapClient"/>
  </bean>
  
  <bean id="groupDao" class="edu.buffalo.ccr.ubmod.dao.GroupDaoIbatisImpl">
    <property name="sqlMapClient" ref="sqlMapClient"/>
  </bean>
  
  <bean id="queueDao" class="edu.buffalo.ccr.ubmod.dao.QueueDaoIbatisImpl">
    <property name="sqlMapClient" ref="sqlMapClient"/>
  </bean>
  
  <bean id="clusterDao" class="edu.buffalo.ccr.ubmod.dao.ClusterDaoIbatisImpl">
    <property name="sqlMapClient" ref="sqlMapClient"/>
  </bean>
  
  <bean id="lookupTableDao" class="edu.buffalo.ccr.ubmod.dao.LookupTableDaoIbatisImpl">
    <property name="sqlMapClient" ref="sqlMapClient"/>
  </bean>
  
  <bean id="chartDao" class="edu.buffalo.ccr.ubmod.dao.ChartDaoIbatisImpl">
    <property name="sqlMapClient" ref="sqlMapClient"/>
  </bean>
  
  <bean id="dataAccessFacade" class="edu.buffalo.ccr.ubmod.service.DataAccessFacade">
    <property name="userDao" ref="userDao"/>
    <property name="groupDao" ref="groupDao"/>
    <property name="queueDao" ref="queueDao"/>
    <property name="lookupTableDao" ref="lookupTableDao"/>
    <property name="chartDao" ref="chartDao"/>
    <property name="clusterDao" ref="clusterDao"/>
  </bean>
  
  <bean id="chartService" class="edu.buffalo.ccr.ubmod.service.ChartService">
    <property name="dataAccessFacade" ref="dataAccessFacade"/>
  </bean>  
</beans>
